
<h1><%=title%></h1>

<form class="form-horizontal" action="/register" 
method="post">
    <fieldset>  
        <div class="form-group">  
            <label class="col-md-1 control-label" for="textinput">Name</label>    
            <div class="col-md-4">  
                <input id="Name" name="Name" type="text" placeholder="Name" class="form-control input-md" required>  
            </div>  
        </div>  
        <div class="form-group">  
            <label class="col-md-1 control-label" for="Email">Email</label>    
            <div class="col-md-4">  
                <input id="Email" name="Email" type="email" placeholder="Email" class="form-control input-md" required>  
            </div>  
        </div>  
        <div class="form-group">  
            <label class="col-md-1 control-label" for="Password">Password</label>    
            <div class="col-md-4">  
                <input id="Password" name="Password" type="password" placeholder="Password" class="form-control input-md" required>  
            </div>  
        </div>  
        <div class="form-group">  
            <label class="col-md-1 control-label" for="Gender">Gender</label>  
            <div class="col-md-4">  
                <select id="Gender" name="Gender" class="form-control">  
                    <option value="M">Male</option>  
                    <option value="F">Female</option>  
                </select>  
            </div>  
        </div>  
        <div class="form-group">  
            <div class="col-md-4 col-md-offset-1">  
                <input type="submit" id="Submit" class="btn btn-primary" value="register" />  
            </div>  
        </div>  

    </fieldset>  
</form>  

<h2><%=message%></h2>